body{
  margin:0;
}
h1 {
  font-size:50px;
}
#title{
  text-decoration: none;
  color: black;
}
#grid ol{
  font-size:20px;
}

#grid p{
  font-size:20px;
}
#grid div{
  padding-left:17px;
}
@media(min-width:600px){
  h1{
    border-bottom:1px solid black;
    text-align: center;
    padding:20px;
    margin:0;
  }
  #grid ol{
    font-size:30px;
    border-right:1px solid black;
    padding-left:75px;
    width:175px;
    margin-top:0;
  }
  #grid{
    display: grid;
    grid-template-columns: 250px 1fr;
  }
  #grid div{
    padding-left:25px;
  }
  #grid div a{
    text-decoration: none;
    color: purple;
  }
}
